@import url(https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css);

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: "sidebar main main main main main main main main main";
    height: 100dvh;
}

nav {
    grid-area: sidebar;
    width: 100%;
    height: 100%;
}

main {
    grid-area: main;
}

div.sidebar {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
}

div.logo-container,
div.profile-container,
div.add-project-container {
    display: flex;
}

div.logo-container {
    margin-bottom: 2em;
}

div.profile-container {
    margin-bottom: 1.7em;
}

span.item-aligner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
}

div.sidebar img:not(.projects-container img):not(.project-link-icon) {
    filter: invert(100%);
    width: 35px;
    height: 35px;
}

.add-project-container {
    margin-bottom: 1em;
}

.projects-container a.project-link {
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 10px;
    border-radius: 5px;
    margin-top: .5em;
}

.projects-container a.project-link:hover {
    cursor: pointer;
    background-color: rgba(247, 193, 122, 0.034);
}

.projects-container a.project-link img {
    width: 1.6em;
    height: 1.6em;
}

a.project-link {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

span.project-counter {
    font-weight: 100;
    font-size: 1rem;
}

div.sidebar button.add-project-btn {
    width: 50px;
    margin-left: auto;
}

div.sidebar button.add-task-btn {
    margin-bottom: 20em;
}

div.main-content {
    background-color: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
}

.color-select {
    appearance: none;
    background: white;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}
