@import url(https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100dvh;
}

nav {
    grid-column: 1;
    height: 100%;
}

main {
    grid-column: 2;
}

div.sidebar {
    background-color: rgb(41, 41, 41);
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 25px;
}

div.logo-container,
div.profile-container,
div.add-project-container {
    display: flex;
}

div.logo-container {
    margin-bottom: 2em;
}

div.profile-container {
    margin-bottom: 1.7em;
}

span.item-aligner {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
}

div.sidebar img:not(.projects-container img):not(.project-link-icon) {
    filter: invert(100%);
    width: 35px;
    height: 35px;
}

.add-project-container {
    margin-bottom: 1em;
}

.projects-container a.project-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin-top: .5em;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.projects-container a.project-link:hover {
    cursor: pointer;
    background-color: rgba(247, 193, 122, 0.034);
}

.projects-container a.project-link img {
    width: 1.6em;
    height: 1.6em;
}

span.project-counter {
    font-weight: 100;
    font-size: 1rem;
}

span.project-link-name {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;
}

div.sidebar button.add-project-btn {
    width: 50px;
    margin-left: auto;
}

div.sidebar button.add-task-btn {
    margin-bottom: 20em;
}

div.task-area {
    background-color: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

h1.task-area-project-name {
    align-self: flex-start;
    padding-left: 2em;
    padding-top: 1em;
    margin-bottom: 1.5em;
}

div.task-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.task-item {
    width: 55%;
    border-bottom: 1px solid rgba(161, 161, 161, 0.295);
    padding: 1em 1em .6em .1em;
    display: flex;
    gap: .6em;
    cursor: pointer;
}
div.task-item:hover img.delete-task-icon {
    opacity: 1;
}

h1.task-title {
    font-size: 1.1rem;
    font-weight: 500;
    height: 21px;
    width: 90%;
    margin-bottom: .3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

p.task-description {
    font-size: .8rem;
    height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    margin-bottom: .5em;
}

span.date-display,
span.project-display {
    font-weight: 100;
    font-size: .8em;
}

div.date-container,
div.task-project-container {
    display: flex;
    align-items: center;
    gap: .2em;
}

div.date-container img,
div.task-project-container img {
    width: 15px;
    height: 15px;
}

div.task-info-container {
    display: flex;
    gap: .6em;
    width: 280%;
}

button.complete-task-btn,
button.delete-task-btn {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25em;
    height: 1.25em;
}
button.complete-task-btn.p4 {
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.336);
}
button.complete-task-btn.p3 {
    border: 2px solid rgb(0 116 186);
    background-color: rgba(0, 115, 186, 0.336);
}
button.complete-task-btn.p2 {
    border: 2px solid rgb(252 213 63);
    background-color: rgb(252, 213, 63, 0.336);
}
button.complete-task-btn.p1 {
    border: 2px solid rgb(248 49 47);
    background-color: rgb(248, 49, 47, 0.336);
}

button.delete-task-btn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-left: auto;
    position: relative;
    bottom: 1.5em;
    width: 1.5em;
    height: 1.5em;

}

img.delete-task-icon {
    width: 140%;
    height: 140%;
    transition: opacity 0.25s ease;
    opacity: 0;
}
button.delete-task-btn:hover {
    border-radius: 5px;
    background-color: #c7c7c71e;
}

img.check-btn-img {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
}
button.complete-task-btn:hover img.check-btn-img {
    opacity: 1;
}

button.project-link-delete-btn {
    margin-left: auto;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
button.project-link-delete-btn:hover {
    border-radius: 5px;
    background-color: #c7c7c71e;
}
img.project-link-delete-icon {
    width: 80%;
    height: 80%;
    transition: opacity 0.3s ease;
    opacity: 0;
    filter: invert(100%);
    display: hidden;
}
a.project-link:hover img.project-link-delete-icon {
    opacity: 1;
}

.color-select {
    appearance: none;
    background: white;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
}

